.catalog {
    display: grid;
    grid-template-columns: 0.9fr 2fr;
    width: 100%;
}

.title{
    font-size: 1rem;
    padding: 1rem 0.5rem;
}

.products {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1000px) {
    .catalog {
        grid-template-columns: 0.5fr 2fr;
    }
}