@import url(../../../../styles/global.css);

.card_container {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding: 0 var(--padding);
}

.card {
    width: 30%;
    cursor: pointer;
    background-color: var(--grey-bg);
}
.card img {
    width: 100%;
}
.card h3 {
    text-align: center;
    padding: 10%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 700px) {
    .card {
        width: 20%;
    }
    .card h3{
        font-size: 0.7rem;
    }
}
@media (min-width: 1000px) {
    .card h3{
        font-size: 1rem;
    }
}