@import url(../../../../styles/global.css);

.card_container {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--padding);
}

.card {
    width: 30%;
    cursor: pointer;
}
.card img {
    width: 100%;
}
.card h3 {
    background-color: var(--grey-bg);
    text-align: center;
    padding: 10%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}