.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
}
.banner h1 {
    font-size: 1.3rem;
}
.card_container {
    display: flex;
    gap: 2rem;
}

@media (min-width: 1000px) {
    .banner {
        gap: 4rem;
    }
    .banner h1 {
        font-size: 1.5rem;
    }
    .card_container {
        gap: 4rem;
    }
}