@import url(./variables.css);

* {
  font-size: 62.5%;
  color: var(--text-color);
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  font-size: 62.5%;
}

@media (min-width: 1000px) {
  * {
    font-size: 200%;
  }
}